# ignore files
config.py
**/*.swp
**/nmt_chatbot.zip
ubuntu-xenial-16.04-cloudimg-console.log
**/*.ipynb_checkpoints
**/~$*.docx

# ignore directories
**/__pycache__
.vagrant/
chatbot/analysis/
chatbot/nmt_chatbot/
