# ignore files
config.py
**/*.swp
**/nmt_chatbot.zip
ubuntu-xenial-16.04-cloudimg-console.log
**/*.ipynb_checkpoints
**/*.ckpt
**/~$*.docx


# ignore directories
**/__pycache__
.vagrant/
Reddit/nmt_chatbot/
